#main {
    background-color: #175c43;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    font-size: 1.2rem;
}

th, td {
    padding: 15px 25px;
    border: 1px solid #fff;
    width:fit-content;
}

th {
    font-weight: bold;
}

td:nth-child(1) {
    font-weight: bold;
    /* font-size: 1.4rem; */
}

#tdPontos {
    color: #FFD84B;
    font-weight: bold;
}

/* .stars {
    color: gold;
    font-size: 1.5rem;
} */

@media (max-width: 393px) {}
  
/* @media (min-width: 394px) and (max-width: 618px) { */
@media (max-width: 618px) {
    h1{
        font-size: 1.5rem;
    }

    table {
        font-size: 0.6rem;
    }   
}

@media (min-width: 619px) and (max-width: 768px) {}

@media (min-width: 769px) {}